<app-navigation></app-navigation>
<router-outlet></router-outlet>
    <div class>
        <br>
        <br>
       

        <div class="footer-copyright py-3 text-center font-weight-bold">
            <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #45526e"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Decor Store
              </h6>
              <p>
                Our Company Provides range of trendy furnitures at an affordable price.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a routerLink="/category/0" class="text-white">Furniture</a>
              </p>
              <p>
                <a routerLink="/category/1" class="text-white">Sofas and Recliners</a>
              </p>
              <p>
                <a routerLink="/category/2" class="text-white">Beds and Matresses</a>
              </p>
              <p>
                <a routerLink="/category/3" class="text-white">Dining</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Useful links
              </h6>
              <p>
                <a class="text-white">Your Account</a>
              </p>
              <p>
                <a class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a class="text-white">Sell with us</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> Bangalore, 560043, IND</p>
              <p><i class="fas fa-envelope mr-3"></i> service@decorstore.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 9876543210</p>
              <p><i class="fas fa-print mr-3"></i> + 4321567890</p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->

  
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
            Made with <i class="fa fa-heart pulse"></i> by Mahabir Barik | Harsh Vats Mishra | Yemula Sai Satya | Darakonda Soumya | C8 | Group 3 | 2022 
            <a href="" class="text-info"> Decor Store</a>
        </div> 
    </div>

