<h3 class="display-4 mb-5 ml-3 text-align-left font-weight-bold" *ngIf="currentUser.role != 'ROLE_MANAGER'">Orders</h3>
<h3 class="display-4 mb-5 ml-3 text-align-left font-weight-bold" *ngIf="currentUser.role == 'ROLE_MANAGER'">Sales Report
</h3>
<button *ngIf="currentUser?.role == Role.Manager" (click)="exportAsXLSX()" class="float-right mb-3">
  <i class="fa fa-download" aria-hidden="true" style="font-size:42px;color:red"></i></button>
  <div class="sort-div" *ngIf="currentUser.role == 'ROLE_MANAGER'">
    <label>Filter by &nbsp;</label>
    <select [(ngModel)]='SortbyParam'>
      <option class="option" value="orderAmount">Price</option>
      <option class="option" value="orderId">Id</option>
    </select>
    <button type="button" (click)="onSortDirection()">
      <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
      <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
    </button>
  </div>
<section class="h-100 h-custom">
  <div class=" h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col" class="h5">Orders</th>
                <th scope="col">ID</th>
                <th scope="col">Total</th>
                <th scope="col">Order Data</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of page?.content | sort:[SortbyParam,SortDirection]">
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <div class="flex-column ms-4">
                      <a>
                        <p class="mb-0 ml-2" style="font-size: 14px;"><span class="mr-2">Buyer
                            Name:</span>{{order.buyerName}}</p>
                        <p class="mb-0 ml-2" style="font-size: 14px;"><span class="mr-2">Buyer
                            Email:</span>{{order.buyerEmail}}</p>
                        <p class="mb-0 ml-2" style="font-size: 14px;"><span class="mr-2">Buyer
                            Phone:</span>{{order.buyerPhone}}</p>
                        <p class="mb-0 ml-2" style="font-size: 14px"><span class="mr-2">Buyer
                            Address:</span>{{order.buyerAddress}}</p>
                      </a>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 100; font-size: 14px"> {{order.orderId}}</p>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 100; font-size: 14px;">Rs. {{order.orderAmount}}</p>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 100; font-size: 14px;">{{order.createTime | date}}</p>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 100; font-size: 14px;">{{OrderStatus[order.orderStatus]}}</p>
                </td>
                <td class="align-middle">
                  <a *ngIf="!(currentUser.role == Role.Customer && currentUser.name == order.buyerEmail)" style="display:
                    block" href="" routerLink="/order/{{order.orderId}}">
                    <i class="fas fa-eye fa-lg"></i></a>
                  <a *ngIf="order.orderStatus == 0" style="display: block" (click)="cancel(order)"
                    routerLink="./">Cancel</a>
                  <a *ngIf="currentUser.role != Role.Customer && order.orderStatus == 0" style="display: block"
                    (click)="finish(order)" routerLink="./">
                    Finish</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <h4 class="text-muted text-center">Wishlist is empty. Add to wishlist!</h4>
    </ng-template>
  </div>
</section>




<app-pagination [currentPage]="page"></app-pagination>