<h3 class="display-4 mb-5 ml-3 text-align-left font-weight-bold">Stock Report</h3>

<section class="h-100 h-custom">

  <!-- <a *ngIf="currentUser?.role == Role.Customer" style="color: inherit"
   routerLink="/seller/product/new" class="float-right mb-3"><i class="fas fa-plus fa-2x">Add</i>
</a> -->
  <div class="search-div mt-0">
   <input class="search-input" placeholder="Type the Product Names You want to see!" type="text" name="search"
      [(ngModel)]="searchText">
  </div>
  <div class="sort-div">
    <label>Sort by &nbsp;</label>
    <select [(ngModel)]='SortbyParam'>
      <option class="option" value="productPrice">Price</option>
      <option class="option" value="productStock">Stock</option>
    </select>
    <button type="button" (click)="onSortDirection()">
      <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
      <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
    </button>
  </div>
  <button (click)="exportAsXLSX()" class="float-right mb-3">
    <i class="fa fa-download" aria-hidden="true" style="font-size:42px;color:red"></i></button>
  <form action="/" method="post" enctype="multipart/form-data">
    <input class="form-control" type="file" (change)="onChange($event)">
  </form>
  <button (click)="onUpload()" class="btn btn-success">
    Upload
  </button><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- <form action="/" method="post" enctype="multipart/form-data">
                    <input class="form-control" type="file" 
                                (change)="onChange($event)">
                      </form>
                        <button (click)="onUpload()" 
                            class="btn btn-warning mt-2">
                            Upload
                        </button> -->
      </div>
    </div>
  </div>

  <div class="h-100 container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">

        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                <th scopr="col">Mail</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let productInfo of page?.content | filter:searchText |sort:[SortbyParam,SortDirection]">
                <th class="align-middle" scope="row">
                  <img height="100px" width="80px" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
                </th>
                <td class="align-middle">{{productInfo.productId}}</td>
                <td class="align-middle">{{productInfo.productName}}</td>
                <td class="align-middle">{{CategoryType[productInfo.categoryType]}}</td>
                <td class="align-middle">{{productInfo.productDescription}}</td>
                <td class="align-middle">Rs. {{productInfo.productPrice}}</td>
                <td class="align-middle">{{productInfo.productStock}}</td>
                <td class="align-middle">{{ProductStatus[productInfo.productStatus]}}</td>
                <td class="align-middle">
                  <a style="display: block" routerLink="/seller/product/{{productInfo.productId}}/edit">
                    Edit</a>

                  <a *ngIf="currentUser?.role == Role.Customer" style="display: block"
                    (click)="remove(page.content, productInfo.productId)" routerLink="./">
                    Remove</a>
                </td>
                <td class="align-middle">
                  <button (click)=onSubmit() [disabled]="(productInfo.productStock >10)? true:false"
                    class="btn btn-info">Email</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>




<app-pagination [currentPage]="page"></app-pagination>