.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
  
.search-div{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.search-input{
  border: none;
  height: 5rem;
  width: 25rem;
  background-color: #6ad4ec;
  padding:1.2rem;
  font-size: 1rem;
  font-weight: 500;
  outline:none;
}

.search-button{
  color:grey;
  height:4rem;
  width:7rem;
  font-size: 1rem;
  border:none;
  background-color: #2988e7;
  color:white
}
.sort-div{
  display: flex;
  justify-content: center;
  margin-right: 5rem; 
  margin-bottom: 1.5rem;
}
.sort-div label {
  font-size: 1.5rem;
  font-weight: 500;
}
select .option{
  font-size: 1.5rem;
  font-weight: 500;
  width: 1rem;
}