<section style="background-color: #eee;">
  <div class="py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <img src="{{productInfo?.productIcon}}"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"
              alt="Furniture" />
            <a href="#!">
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <p  class="text-dark font-weight-bold" style="font-size: 18px;">{{productInfo?.productName}}</p>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <form name="form" #form='ngForm' (ngSubmit)="productInfo?.productStatus == 0 && addToCart()">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <p class="text-dark"  style="font-size: 16px;">Description: {{productInfo?.productDescription}}</p>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <p class="text-dark" style="font-size: 16px;">Price: Rs. {{productInfo?.productPrice}}</p>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <p class="text-dark" style="font-size: 16px;">Total Amount: Rs. {{count * productInfo?.productPrice}}</p>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <p class="text-dark" style="font-size: 16px;">Quantity</p>
              <input [(ngModel)]=count
                      (change)="validateCount()"
                      type="number"
                      name="count"
                      required
                      min="1"
                      [max]=productInfo?.productStock
              >
            </div>
          </div>

          <div class="card-body pb-0">
            <i *ngIf="currentUser && addedToWishlist" style="color: red;" class="fas fa-heart fa-4x" (click)="handleRemoveFromWishList(productInfo.productId)"></i>
            <i *ngIf="currentUser && !addedToWishlist" class="far fa-heart fa-4x" (click)="handleAddToWishList(productInfo.productId)"></i>
          </div>
          
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
              <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="!form.form.valid" *ngIf="productInfo?.productStatus == 0; else offBlock"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
              <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>