<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                </div>

                <div *ngFor="let productInOrder of productInOrders">
                    <div class="card rounded-3 mb-4">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2"
                                    routerLink="/product/{{productInOrder.productId}}">
                                    <img src="{{productInOrder.productIcon}}" alt="{{productInOrder.productName}}"
                                        class="img-fluid rounded-3">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2" routerLink="/product/{{productInOrder.productId}}">
                                        {{productInOrder.productName}}</p>
                                    <p><span class="text-muted">Price: Rs.</span>{{productInOrder.productPrice}}</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <button class="btn btn-link px-2" (click)="minusOne(productInOrder)">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                    <input class="form-control form-control-sm" min="1"
                                        id="{{productInOrder.productId}}" [max]=productInOrder.productStock
                                        [(ngModel)]="productInOrder.count" (change)="onChange(productInOrder)" size="5"
                                        type="number" required name='count' />

                                    <button class="btn btn-link px-2" (click)="addOne(productInOrder)">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">Rs. {{productInOrder.productPrice * productInOrder.count}}</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a class="text-danger" (click)="remove(productInOrder)" routerLink="./"><i
                                            class="fas fa-trash fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="productInOrders?.length > 0; else empty">
                    <div class="card">
                        <div class="card-body">
                            <select [(ngModel)]="selectedCoupon" name="Coupon" class="form-control" id="ddlViewBy">
                                <option>Select Coupon</option>
                                <option *ngFor="let dep of coupon">
                                    {{dep.id}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="card" *ngFor="let discount of coupon">
                        <div class="card-body"></div>

                        <h5 *ngIf="!selectedCoupon" style="display: inline;">Total: Rs. {{total}} </h5>
                        <h5 *ngIf="selectedCoupon" style="display: inline;">Total: Rs.
                            {{total*[discount.d_percentage/100]}}</h5>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-warning btn-block btn-lg" (click)="checkout()">Proceed to
                            Buy</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <ng-template #empty>
        <h4 class="text-muted text-center">Cart is empty. Shop Now!</h4>
    </ng-template>
</section>