.search-div{
    display: flex;
    justify-content: center;
    margin-top:3rem; 
    margin-bottom: 1.5rem;
}

.search-input{
    border: none;
    height: 4rem;
    width: 25rem;
    background-color: #7acaf8;
    padding:1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline:none;
}

.search-button{
    color:grey;
    height:4rem;
    width:7rem;
    font-size: 1rem;
    border:none;
    background-color: #216eba;
    color:white
}